.board-title-list{
    display: grid;
    margin: 0;
    padding-left: 10px;
    grid-template-columns: 100px 160px 300px 200px 100px 100px 100px;
    list-style-type:none;
    font-weight:bold;
    font-size: 20px;
}
