.container-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.subcontainer-div{
    padding-top: 30px;
    width: fit-content;
}

.home-div h1{
    font-family: 'Times New Roman';
    font-size:45px;
    padding-top:100px;
    padding-bottom: 50px;
}

.home-title-list{
    display: grid;
    grid-template-columns: 100px 160px 300px 200px 100px 100px 100px 100px 100px;
    list-style-type:none;
    font-weight:bold;
    font-size: 20px;
    margin: 0;
    padding-left: 10px;
    padding-bottom: 20px;
}

.buttons-div{
    display: grid;
    grid-template-columns: 225px 200px;
    justify-content: center;
    align-items: center;
}

.buttons-list{
    display: flex;
    justify-content: center;
    text-decoration: none;
    list-style-type: none;
    margin:0;
    padding: 50px 0px 20px 0px;
}

.page-button{
    background-color: gray;
    font-weight: bold;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.page-button:hover{
    color:aquamarine;
}

.page-button:active{
    color:gray;
}

.red-button{
    color:white;
    font-family:sans-serif;
    font-size: 20px;
    height:70px;
    width:200px;
    border-radius: 1.25rem;
    background-color: red;
    border: None;
}

.red-button:hover{
    background-color: brown;
}

.white-button{
    color:black;
    font-family:sans-serif;
    font-size: 20px;
    height:70px;
    width:200px;
    border-radius: 1.25rem;
    background-color: whitesmoke;
    border:None
}

.white-button:hover{
    background-color: grey;
}

.white-button:active{
    color:grey
}

.numpage-div{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-bottom: 30px;
}