.cart-div{
    display:grid;
    grid-template-columns: auto auto;
}

.print-button{
    display: grid;
    align-items: center;
    justify-content: center;
    margin-left:20px;
}

.quantity-input{
    width:45px;
    height:20px;
    margin-top:30px;
}